@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<EntidadesSistema.Cadete>
<div class="text-center">Pedido Nuevo</div>

<form asp-controller = "Pedido" asp-action="AgregarPedido" method="post">
    @if (Model.Count() != 0)
    {
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="nombre" type="text" requiered>Nombre</label>
                    <input type="text" id="nombre" class="form-control" name="_Nombre"/>
                </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="dni" typeof="text" >DNI</label>
                <input type="text" id="dni" class="form-control" name="_Dni"/>
            </div>
        </div>
        </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="direccion" type="text"  required>Dirección</label>
                <input type="text" id="direccion" class="form-control" name="_Direccion"/>
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="telefono" type="text"  required>Teléfono</label>
                <input type="number" id="telefono" class="form-control" name="_Telefono"/>
            </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="observacion" type="text"  required>Observaciones</label>
            <textarea class="form-control" id="observacion" rows="4" name="_Observacion"></textarea>
        </div>        
        <div class="form-outline mb-4">
            <label for="cadete" class="form-label">Cadete</label>
            <select id="cadete" name="_CodigoCadete">
                <option value="">Seleccione</option>
                    @foreach (var item in Model)
                    {
                        <option value="@item.Id">@item.Id (@item.ListadoPedidos.Count())</option>
                    }
            </select>
        </div>
    <button type="submit" class="btn btn-primary btn-block mb-4">Enviar</button>
      
    }
    else if (Model.Count() == 0)
    {
        <div class="mb-3">
             <label for="dir" class="form-label">Sin cadetes para tomar el pedido</label>
             <a type="button" asp-controller="Cadete" asp-action="CreateCadete" class="btn btn-primary">Crear Cadete</a>
        </div>
    }
</form>