@{
    ViewData["Title"] = "View";
}

<h4>Crear Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller = "Pedido" asp-action="AgregarPedido" method="post">
            <div class="mb-3">
                <label for="Observacion" class="form-label">Observacion</label>
                <input type="text" class="form-control" id="observacion" name="Observacion" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Solicitar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>
