@{
    ViewData["Title"] = "View";
}

<h4>Crear Pedido</h4>
<hr />
    <div class="text-center">
        <form asp-controller = "Pedido" asp-action="AgregarPedido" method="post">
            <div class="mb-3">
                <label for="Observacion" class="form-label">Observación</label>
                <input type="text" class="form-control" id="Observacion" name="Observacion" required>
            </div>
            <div class="mb-3">
                <label for="Direccion" class="form-label">Dirección</label>
                <input type="text" class="form-control" id="Direccion" name="Direccion" required>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
<div class="text-center">
    <a asp-action="Index">Volver</a>
</div>
