@{
    ViewData["Title"] = "Pagina de pedidos";
}
@model List<EntidadesSistema.Pedido>
<div class="text-center">Pedido Nuevo</div>
<form asp-controller = "Pedido" asp-action="AgregarPedido" method="post">
  <!-- 2 column grid layout with text inputs for the first and last names -->
  <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
        <label class="form-label" for="nombre" type="text" name="_Nombre" requiered>Nombre</label>
        <input type="text" id="nombre" class="form-control" />
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <label class="form-label" for="dni" typeof="text" name="_Dni">DNI</label>
        <input type="text" id="dni" class="form-control" />
      </div>
    </div>
  </div>

  <!-- Email input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="direccion" type="text" name="_Direccion" required>Dirección</label>
    <input type="email" id="direccion" class="form-control" />
  </div>

  <!-- Number input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="telefono" type="text" name="_Telefono" required>Teléfono</label>
    <input type="number" id="telefono" class="form-control" />
  </div>

  <!-- Message input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form6Example7" type="text" name="_Observacion" required>Observaciones</label>
    <textarea class="form-control" id="form6Example7" rows="4"></textarea>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Enviar</button>
</form>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
