@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EntidadesSistema.AltaCadeteViewModel
@{
    ViewData["Title"] = "Pagina de cadetes";
}

<div class="text-center">
    <form asp-controller = "Cadete" asp-action="AgregarCadete" method="post">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="Nombre" required>
        </div>
        <div class="mb-3">
            <label for="direccion" class="form-label">Direccion</label>
            <input type="text" class="form-control" id="_Direccion" name="Direccion" required>
        </div>
        <div class="mb-3">
            <label for="Telefono" class="form-label">Telefono</label>
            <input type="text" class="form-control" id="Telefono" name="Telefono" required>
        </div>
        <div class="mb-3">
            <select  for="CadeteriaId" class="custom-select" name="CadeteriaId" style="text-align:center">
                @foreach (var elemento in Model.ListaCadeterias)
                {
                    <option value="@elemento.CadeteriaID" >@elemento.CadeteriaNombre</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>