@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<EntidadesSistema.Cadete>

<h1>Dar de alta un Cadete</h1>

<div class="text-center">
    <h2 class="display-4">Listado de cadetes</h2>
</div>
<button type="button" asp-action="AltaCadete" class="btn btn-primary">Agregar Cadete</button>

<div>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Cantidad de pedidos</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nombre</td>
                <td>@item.Direccion</td>
                <td>@item.ListadoPedidos.Count</td>
            </tr>
        }
    </table>
</div>