@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model EntidadesSistema.CadetePedidosViewModel

<div class="text-center">
    <h3 class="display-4">Modificar Cadete</h3>
</div>

<div class="text-center">
    <form asp-controller = "Cadete" asp-action="ModifyForGoodCadete" method="post">
        <div class="mb-3">
            <label for="Id" class="form-label">Id</label>
            <input hidden type="number" style="text-align:center" name="Id" value="@{@Model.Cadete.Id}"/>
        </div>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="Nombre" value="@{@Model.Cadete.Nombre}" placholder="@{@Model.Cadete.Nombre}" style="text-align:center" required>
        </div>
        <div class="mb-3">
            <label for="direccion" class="form-label">Direccion</label>
            <input type="text" class="form-control" id="_Direccion" name="Direccion" value="@{@Model.Cadete.Direccion}" placholder="@{@Model.Cadete.Direccion}" style="text-align:center" required>
        </div>
        <div class="mb-3">
            <label for="Telefono" class="form-label">Telefono</label>
            <input type="text" class="form-control" id="Telefono" name="Telefono" value="@{@Model.Cadete.Telefono}" placeholder="@{@Model.Cadete.Telefono}" style="text-align:center" required>
        </div>
        <div class="mb-3">
            <label for="CadeteriaId" class="form-label">Código de cadetería actual: @Model.Cadete.CadeteriaId</label>
            <select  for="CadeteriaId" class="custom-select" name="CadeteriaId" style="text-align:center">
                @foreach (var elemento in Model.ListaCadeterias)
                {
                    <option value="@elemento.CadeteriaID">@elemento.CadeteriaNombre - @elemento.CadeteriaID</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>